.job-details-container {
  background-color: black;
  min-height: 100vh;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.job-details {
  background-color: #272727;
  border-radius: 15px;
  border: 2px solid red;
  padding: 15px;
  width: 80%;
  margin-bottom: 25px;
}

.each-job-descriptions {
  display: flex;
  flex-direction: column;

  border-radius: 15px;
  padding: 10px;
}

.company-logo {
  height: 10%;
  width: 10%;
  margin: 15px;
}
.log-title-container {
  display: flex;
  flex-direction: column;

  padding: 10px;
  width: 100%;
}
.logo-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}
p {
  color: white;
  margin: 5px;
}

h1 {
  color: white;
}
.star-icon {
  height: 35px;
  margin: 5px;
}

.display-row {
  display: flex;
  margin-top: 0px;
  align-items: center;
}

.star {
  color: yellow;
  margin: 5px;
}

.location-package {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.location-package-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.package {
  width: 6%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location-icon {
  background-color: white;
  margin: 5px;
}

.employment-type {
  width: 100%;
}

.job-icon {
  height: 30px;
  width: 30px;
  margin: 5px;
}
.hr-line {
  width: 100%;
  color: white;
}
.description {
  width: 100%;
  margin-top: 0px;
}

* {
  font-family: 'Roboto';
}

.link-style {
  text-decoration: none;
}

.skills-list {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}

.each-skill {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 30%;
}

.skill-name {
  margin: 10px;
}

.skill-image {
  margin: 10px;
}

.life-at-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

* {
  font-family: roboto;
}

.similar-job-heading {
  width: 80%;
}

.similar-jobs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.simi-container {
  background-color: #272727;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 25%;
  border-radius: 15px;
}

.logo-title {
  display: flex;
  flex-direction: row;
}

.location-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;

  margin: 10px;
}

.location {
  border: 1px solid red;
}

.type {
  margin-left: 30%;
}

.logo-image {
  height: 70%;
}

.similar-title {
  font-weight: 600;
  margin: 10px;
  font-size: 20px;
}

.rating-star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visit-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
}

.visit {
  font-size: 25px;
  text-decoration: none;
  margin-right: 5px;
}

.JobDetails-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 15px;
}

.retry {
  background-color: blue;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
