.logout-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
  width: 100px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  background-color: #272727;
  padding-top: 15px;
  padding-bottom: 15px;
}

.website-logo {
  height: 50px;
  width: 120px;
}

.header-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 10%;
}

.list-item {
  color: white;
  text-decoration: none;
}
